<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- using ejs tags to utilizing dynamic passing of data -->
  <title>Blog | <%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
